body {
    margin: 0;
}
canvas {
    background-color: rgb(255, 255, 255) ;
}
#color {
    outline: none;
}

input[type="color"]{
    border: none;
    border-color: transparent;
    text-decoration: none;
    outline: none;
    padding: 0;
    margin-bottom: 0;
    transform: translateY(0,5px);
}

input[type="number"]{
    padding-bottom: 0;
    padding-top: 0 ;
}
.download {
    transform: translate(0,2px);
}

div {
    background-color: rgb(176, 176, 241);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
button,input {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #7a4caf; /* Green */
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    height: 2rem;
}

input:hover{
    cursor: pointer;
    background-color: rgb(100, 2, 100);
}
button:hover{
    cursor: pointer;
    background-color: rgb(100, 2, 100);
}
#stroke::placeholder{
    color: white;
}
#imageLoader {
    padding-bottom: 0;
}