body {
    margin: 0;
}
canvas {
    background-color: black ;
}
#color {
    outline: none;
}

input[type="color"]{
    border: none;
    border-color: transparent;
    /* margin-top: 23px; */
    padding: 0;
    margin-bottom: 0;
    transform: translate(0,5px);
}
